/* Author: Your Name */
/* File: mycss.css */
/* Description: External CSS file */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

nav {
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

nav a:hover {
    color: red;
}

h1 {
    color: #333333;
}

table {
    border-collapse: collapse;
    width: 70%;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: lightgray;
}

td, th {
    padding: 10px;
    text-align: center;
}